<p id="notice"><%= notice %></p>

<h1>Listing Defs</h1>

<% @defins.each do |defin| %>
  <li>
    <%= defin.word %> <br>
    id: <%= defin.id %> <br>
    author: <%= defin.author.user_name%> <br>
  </li>
<% end %>

<br>

<a href=" <%= new_defin_url %>">New Def</a>
