<%= form_for(@def) do |f| %>
  <% if @def.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@def.errors.count, "error") %> prohibited this def from being saved:</h2>

      <ul>
      <% @def.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :word %><br>
    <%= f.text_field :word %>
  </div>
  <div class="field">
    <%= f.label :def %><br>
    <%= f.text_area :def %>
  </div>
  <div class="field">
    <%= f.label :ex_sentence %><br>
    <%= f.text_field :ex_sentence %>
  </div>
  <div class="field">
    <%= f.label :author_id %><br>
    <%= f.number_field :author_id %>
  </div>
  <div class="field">
    <%= f.label :img_url %><br>
    <%= f.text_field :img_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
