<p id="notice"><%= notice %></p>

<h1>Listing Defs</h1>

<table>
  <thead>
    <tr>
      <th>Word</th>
      <th>Def</th>
      <th>Ex sentence</th>
      <th>Author</th>
      <th>Img url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @defs.each do |def| %>
      <tr>
        <td><%= def.word %></td>
        <td><%= def.def %></td>
        <td><%= def.ex_sentence %></td>
        <td><%= def.author_id %></td>
        <td><%= def.img_url %></td>
        <td><%= link_to 'Show', def %></td>
        <td><%= link_to 'Edit', edit_def_path(def) %></td>
        <td><%= link_to 'Destroy', def, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Def', new_def_path %>
