<p>
  <strong>Word:</strong>
  <%= @def.word %>
</p>

<p>
  <strong>Def:</strong>
  <%= @def.def %>
</p>

<p>
  <strong>Ex sentence:</strong>
  <%= @def.ex_sentence %>
</p>

<p>
  <strong>Author:</strong>
  <%= User.find(@def.author_id).user_name %>
</p>


<%= link_to 'Edit', edit_def_path(@def) %> |
<%= link_to 'Back', defs_path %>
