<!DOCTYPE html>
<html>
<head>
  <title>UberDictionary</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if logged_in? %>
  Logged in as: <%=current_user.user_name %>
  <form class="logout-button" action="<%= session_url %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
      <button> Sign Out </button>
  </form>
  <% end %>

<%= yield %>

</body>
</html>
